@media (max-width: 1200px) {
    main {
        margin-left: 5%;
		margin-right: 5%;
    }
		footer  {
        margin-left: 5%;
		margin-right: 5%;
    }
}

@media (max-width: 500px) {
    main .post {
			display: block;
		}
		main .posts .post .post-img {
			margin-right: 0;
		}
		main .posts .post .post-img img {
			min-height: auto;
			max-width: 100%;
		}
		main .posts .post .post-content .date {
			padding-top: 10px;
		}
}
