* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    background-color: darkorange;
    height: 15%;
}

header > .header-left {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 1;
}
header > .header-left > a {
     height: 100%;
     width: 25%;
     margin-right: 10px;
}
header > .header-left > a > img {
    height: 100%;
    width: 100%;
}
header > .header-left > .header-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
header > .header-left > .header-center > nav > a {
    text-decoration: none;
}
article {
    flex: 1 0 auto;
    padding: 10px 10% 10px 10%;
    background-color: aliceblue;
}

footer {
    flex-shrink: 0;
    background-color: darkcyan;
}
footer > p {
    padding: 10px;
    text-align: center;
}

@media (max-width: 768px)  {
    html, body {
        font-size: 18px;
    }
}
@media (max-width: 450px)  {
    html, body {
        font-size: 15px;
    }
}
@media (max-width: 370px)  {
    html, body {
        font-size: 12px;
    }
    article {
        padding: 10px 2% 10px 2%;
    }
    p.introduction {
        font-size: 16px;
    }
}
